# gradle
.gradle/
build/
build_BTW/
out/
classes/

# eclipse
*.launch

# idea
.idea/
*.iml
*.ipr
*.iws

# vscode
.settings/
.vscode/
bin/
.classpath
.project

# fabric
run/

# macos
*.DS_Store

# NM dev util
/src/main/java/com/itlesports/nightmaremode/util/dev/
